@import '../variables.scss';

.company-page {
  
  h1 {
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
  }

  hr {
    margin: 1rem 0;

    @include tablet {
      margin: 2rem 0;
    }
  }

  a {
    text-decoration: underline;
    
    color: $fb-green;
  }

  &__team {
    display: flex;
    justify-content: center;

    flex-flow: row wrap;
  }

}