@import '../variables.scss';

.contact-page {
  h1 {
    text-transform: uppercase;
  }

  span {
    color: $fb-gold;
  }

  a {
    text-decoration: underline;
    
    color: $fb-green;
  }

  &__photo {

    @include tablet {
      float: right;

      margin-top: -3rem;
      padding-left: 1rem;

      transform: scale(0.85);
    }

    @include desktop {
      transform: scale(1);
    }
  }

  &__info {
    border-left: 5px solid $fb-green;
    padding: 0.5rem 0;
    padding-left: 1rem;

    margin: 2rem 0 ;
  }

  &__address {
    text-align: center;

    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    padding: 2rem 0;
    margin: 1rem 0;

    p {
      margin: 0;
    }
  }

  .google_maps {
    display: block;

    margin: auto;

    max-width: 100%;
  }
}