@import '../variables.scss';

.home-page {
  
  background: #fff url('/img/front_entrance_bkg.jpg') no-repeat center bottom;
  background-size: 50rem;

  &__quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}