@import '../variables.scss';

.external-link {
  margin: 2rem 0 1rem 0;

  text-align: center;
  
  a {
    padding: 1rem 2.5rem;

    color: white;
    background-color: $fb-green;

    font-weight: 500;
    text-decoration: none;

    transition: background-color $transition-time $transition-timing;

    &:hover {
        background-color: $fb-light-green;
    }

    &:active {
        background-color: $fb-green;
        color: whitesmoke;
    }
  }
}