@import '../variables.scss';

.page-content {
  margin: 1rem;
  margin-top: calc(#{$header-height} / 2 + 1rem);

  background-color: $highlight-white;
  box-shadow: $box-shadow;

  > div {
    padding: 1rem;
  }
  
  @include tablet {
    margin: auto;
    
  
    max-width: 1100px;
    min-height: calc(100vh - #{$header-height} - #{$footer-height} - 7rem);
  
    > div {
      padding: 2.5rem;
    }
  }
}