@import '../variables.scss';

.quick-link {
  width: 27.5%;
  padding: 3rem 1rem;

  pointer-events: none;

  h2, p {
    color: black;
  }

  h2 {
    text-align: center;
    margin-top: 0;

    pointer-events: all;

    &:hover {
      text-decoration: underline;
    }
  }
  
  &__link {
    color: $fb-green;
    text-decoration: underline;
    
    pointer-events: all;
  }

  &:nth-child(2) {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
}