@import '../variables.scss';

.quick-link {
  padding: 2rem 0;

  text-align: center;

  @include tablet {
    width: 27.5%;
    padding: 3rem 1rem;

    text-align: left;
  }

  h2, p {
    color: black;
  }

  h2 {
    font-size: 1.5em;
    
    text-align: center;
    margin-top: 0;
  }
  
  &__link {
    color: $fb-green;
    text-decoration: underline;
  }

  &:nth-child(2) {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }

  @include tablet {
    &:nth-child(2) {
      border: none;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
    }
  }
}