@import '../variables.scss';

.scroll-to-top {
  position: fixed; 
  bottom: 2rem;
  right: 0;
  
  width: 3rem;

  padding: 0.5rem;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  
  transition: none $transition-time $transition-timing;
  transition-property: background-color, opacity;

  z-index: 99;
  cursor: pointer;

  background-color: $fb-green;
  
  font-size: 18pt;

  border-left: 4px solid $fb-gold;

  box-shadow: $box-shadow;

  &:focus {
    outline: none;
  }
  
  & span {
    color: #fff
  }

  &__text {
    display: none;
  }

  @include tablet {
    bottom: 1rem;
    right: 1rem;

    width: 4.5rem;
    height: 4.5rem;

    font-size: 14pt;

    padding: 0.5rem;

    border: none;

    &__text {
      display: inline;
    }
  }
}

.scroll-to-top:hover{
  background-color: $fb-light-green;
}