@import 'variables.scss';

html {
  height: 100%;

  background-color: $background-white;

  font-family: $font-family;
  font-size: 12pt;

  @include tablet {
    font-size: 14pt;
  }
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 0;

  @include tablet {
    font-size: 32pt;
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 16pt;
  
  @include tablet {
    font-size: 18pt;
  }
}

hr {
  height: 1px;
  background-color: $light-gray;
  border: none;
}

a {
  text-decoration: none;

  transition: none $transition-time $transition-timing;
  transition-property: color;
}

img[src*="#align-right"] {
  float: right;
  padding: 0.25rem 0.5rem;

  max-width: 50%;

  @include tablet {
    max-width: 540px;
  }
}

img[src*="#align-left"] {
  float: left;
  padding: 0.25rem 0.5rem;

  max-width: 50%;

  @include tablet {
    max-width: 540px;
  }
}

img[src*="#align-center"] {
  display: block;
  margin: auto;

  width: 100%;
  height: auto;

  max-width: 540px;
}

a {
  color: $fb-green;
}

table {
  width: 50%;
  width: intrinsic;
  width: fit-content;
  display: block;
  margin: auto;

  @include tablet {
    display: inline-flex;
    display: -ms-inline-flexbox;

    width: calc(50% - 1rem);

    tbody, thead {
      margin: auto;
    }
  }

  td {
    @include tablet {
      padding: 0 0.5rem;
    }
  }

  img {
    width: 50%;
    max-width: 15rem;
  }
}