$background-white: #F3F3F3;
$highlight-white: #FFFFFF;

$fb-green: #007550;
$fb-light-green: #00865c;
$fb-gold: #D9D08A;
$light-gray: #D3D3D3;

$font-family: 'Roboto', sans-serif;

$transition-time: 200ms;
$transition-timing: ease-out;

$header-height: 6rem;
$footer-height: 4rem;

// Even smaller screens
$screen-mobile-portrait: 530px;

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 2000px;

// Small devices
@mixin sm-mobile {
	@media (min-width: #{$screen-mobile-portrait}) {
		@content;
	}
}


// Small devices
@mixin mobile {
	@media (min-width: #{$screen-mobile}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
 }
 
 // Large devices
 @mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl-desktop {
	@media (min-width: #{$screen-xl-desktop}) {
		@content;
	}
}
